<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <OX_Basic>
            <version>1.0.0</version>
        </OX_Basic>
    </modules>
    <frontend>
        <routers>
            <basic>
                <use>standard</use>
                <args>
                    <module>OX_Basic</module>
                    <frontName>basic</frontName>
                </args>
            </basic>
        </routers>
        <layout>
            <updates>
                <basic>
                    <file>basic.xml</file>
                </basic>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <basic>
                <class>OX_Basic_Block</class>
            </basic>
        </blocks>
        <helpers>
            <basic>
                <class>OX_Basic_Helper</class>
            </basic>
        </helpers>
        <models>
            <basic>
                <class>OX_Basic_Model</class>
                <resourceModel>basic_resource</resourceModel>
            </basic>
            <basic_resource>
                <class>OX_Basic_Model_Resource</class>
                <entities>
                    <sample>
                        <table>ox_basic_sample</table>
                    </sample>
                </entities>
            </basic_resource>
        </models>
        <resources>
            <basic_setup>
                <setup>
                    <module>OX_Basic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </basic_setup>
            <basic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </basic_write>
            <basic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </basic_read>
        </resources>
    </global>
</config>
